<footer id="layout-footer">
    <div>
        <p>
            &#169; Bhavya Sapra. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                
            </ul>
        </nav>
    </div>
</footer>